.clock-digital {
  display: flex;

  font-size: 100px;
  text-align: center;

  cursor: pointer;
  transition: opacity .5s;

  &__num {
    display: block;
    width: 150px;

    line-height: 100px;

    &--divider {
      vertical-align: top;
    }
  }
}
