.clock-digital {
  min-width: 650px;

  font-size: 100px;
  text-align: center;

  cursor: pointer;
  transition: opacity .5s;

  &__num {
    display: inline-block;
    width: 110px;

    line-height: 100px;

    &--divider {
      vertical-align: top;
    }
  }
}
