.clock-digital {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  min-width: 600px;

  font-size: 100px;
  text-align: center;

  transform: translate(-50%, -50%);

  &__num {
    display: inline-block;
    width: 100px;
    height: 100px;

    line-height: 100px;

    &--divider {
      vertical-align: top;
    }
  }
}
