.clock {
  position: relative;

  &__circle {
    width: 100%;
    height: 100%;

    border-radius: 50%;
    box-shadow: inset 0 -3px 10px #00bfff, 0 2px 3px #fff, 0 7px 10px #00bfff;

    transition: transform .5s;

    &,
    &::before {
      position: absolute;
    }

    &::before {
      top: 50%;
      left: 50%;
      width: 105%;
      height: 105%;

      content: "";
      background-image: linear-gradient(to bottom, #030303 50%, transparent);

      transform: translate(-50%, -50%);
    }
  }
}
